portainer_ce.images
portainer_ce.tar
portainer_ce.tar.gz
python_3.7_slim.image
python_3.7_slim.tar
python_3.7_slim.tar.gz
python_3.9.5_slim.image
python_3.9.5_slim.tar
python_3.9.5_slim.tar.gz
python_3.7.7_slim_apt.tar